<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD SOLUMADA</title>
</head>
<body>
    <h1>
        Inserer dans le BD
    </h1>
    <form action="/add" method="post">
        <input type="text" placeholder="nom" name="nom">
        <input type="text" placeholder="adresse" name="adresse">
        <input type="text" placeholder="ville" name="ville">
        <button>inserer</button>
    </form>
    
</body>
</html>